.App {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

.screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-container {
  width: 100%;
  padding: 30px 30px 120px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px 20px 100px 20px;
  }
}